@font-face {font-family:"SSF4_ABUKET";src:url("../font/SSF4_ABUKET.ttf") format("truetype");font-weight:normal;font-style:normal;}

body {
	background-image: url("../images/DesertedTemple.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.cont {
	/*border: 5px solid black;*/
	height: 100%;
	text-align: center;
	/*line-height: 80px;*/
	font-size: 30px;
	color: #FFFB7F;
	font-family: 'SSF4_ABUKET';
}
/* General styling for containers */

#first {
	height: 80px;
	margin: 20px 20px 0px 20px;
}
#second {
	height: 200px;
	margin: 10px 0px;
}
#sub {
	height: 40px;
	margin-top: 80px;
}
#names {
	height: 50px;
}
#attack {
	text-align: center;
	height: 100%;
}
.attack {
	/*visibility: hidden;*/
}
#newGame {
	text-align: center;
	/*height: 100%;*/
}
#third {
	height: 150px;
	margin: 100px 30px 50px 30px;
}

#playerCharSelection .col-md-3 {
	height: 200px;
	padding: 0px;
}
.playerCharPick{
	width: 100px;
	height: 100px;
	border: 1px solid green;
}

#enemyCharSelection .col-md-3 {
	height: 200px;
	padding: 0px;
}
.enemyCharPick{
	width: 100px;
	height: 100px;
	border: 1px solid red;
}
.image {
	max-width: 100%;
	max-height: 100%;
}
button {
	height: 100%;
	font-family: "Avenir";
}

.row {
	/*border: 1px solid white;*/
}

.health {
	position:absolute;
	font-family: "Avenir";
	bottom: -70px;
    left: 50px;
    color: white;
    line-height:30px;
}